#left {
    top: 0;
    width: 60%;
    margin-top: 0;
}

#right {
    top: 0;
    width: 40%;
    left: 60%;
    margin-top: 0;
}

.blogg_content {
    position: relative;
    text-align: center;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 88%; /* 50% of view width (vw) - 3%*2 of vw (from margin) */
}

.blogg_content > p:last-child {
    padding: 0.5vh;
}

.blogg_content > *:not(img) {
    width: 90%;
    margin: 1vh auto;
}

.blogg_content > img {
    max-width: 75%;
    margin: 0 auto 1vh;
}

.blogg_content > h1 {
    padding-top: 50px;
}

.blogg_content::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 3px solid black;
}

#arkiv_boks {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#arkiv_boks > div {
    margin-bottom: 100px;
}

#arkiv_boks > div > h1 {
    padding-top: 50px;
    margin: 1vh auto;
}

#arkiv_liste > * {
    text-align: left;
    font-weight: bold;
}

#arkiv_liste > li {
    list-style: none;
}

#arkiv_liste > li > button {
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: inherit;
}

#arkiv_liste > li > button:hover {
    cursor: pointer;
}

.insertLine {
    opacity: 0;
    transition: all 0.25s ease-in;
}

.show {
    opacity: 1;
}

@keyframes rotating {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(90deg);}
}

@keyframes reverse_rotating {
    0% {transform: rotate(90deg);}
    100% {transform: rotate(0deg);}
}

div.normal {
    animation: rotating 0.25s linear 0s 1 normal forwards;
}

div.rotated {
    animation: reverse_rotating 0.25s linear 0s 1 normal forwards;
}

#arkiv_knapp {
    position: fixed;
    bottom: 55px;
    right: 5px;
    display: none;
}

#arkiv_knapp > button {
    background-color: #e7e5e6;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#arkiv_knapp > button:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

#arkiv_knapp > button:active {
    background-color: #bababa;
}

@media (max-width: 800px) {

    #left {
        width: 100%;
    }

    #right {
        width: 100%;
    }

    .blogg_content {
        margin-left: auto;
        margin-right: auto;
    }

    #arkiv_knapp {
        display: block;
    }
}