
#right {
  /*width: 50%;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;*/
  text-align: center;
}

#right > *:not(img) {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Create four equal columns that sits next to each other */

.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 15%;
}

.galleryImg:hover {
  transform: scale(1.1);
  border: 5px solid white;
}

#right img {
  width: 25%;
}


#current_picture {
position: fixed;
right: 12.5%;
top: 15%;
border: none;
transform: none;
}

/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
.column {
  flex: 50%;
  max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
.column {
  flex: 100%;
  max-width: 100%;
}
}

*/