
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{    
    font-family: 'Roboto', Helvetica, sans-serif;
}


body {
    min-height: 100%;
    margin: 50px 0 0 0;
    overflow: hidden;
    height: 100vh;
}

#navbar, #footer{
    box-sizing:border-box;
    width:100%;
    height:50px;
    padding-left:20px;
    padding-right:20px;
    background-color:rgba(0, 0, 0, 0.75);
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#navbar {
    font-size:25px;
    position:fixed;
    top:0;
    z-index:9
    }


.navpage {   
    position: relative;
    color:white; 
    text-decoration:none;
    display: flex;    
    flex-direction:column;
    align-items: center;
}

.whiteLine{
    width:40px;
    height:2px;
    background-color:white;
    position: absolute;
    top:-2px;
}


#footer {
    color: white;
    text-align: center; 
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 10pt;
}

.icon{
    width:auto;
    height:35px;
    z-index:10;
}

#iconDiv{
    width:90px;
    display:flex;
    justify-content: space-between;
}



#content {
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: auto;
}

#left {
    width: 50%;
    min-height: 100%;
    position: absolute;
    left: 0;
    background-color: #737373;
    margin-bottom: 50px;
}

#right {
    width: 50%;
    min-height: 100%;
    position: absolute;
    right: 0;
    background-color: #e7e5e6;

}
#instalogo{
  padding-right: 20px;

}
#emailicon{
  padding: 0;
  border-style: none;
  background-color:rgba(0, 0, 0, 0);

}

#footerText {
    font-size: 10pt;
}






/* Test */
#content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
}

#right {
    display: flex;
    position: sticky;
    top: 0;
    left: 50%;
    right: 0;
    min-width: 50%;
    min-height: calc(100% - 50px*2); /*100% - nav and footer*/
    background-color: #e7e5e6;
    /*overflow-y: scroll;*/
    overflow: auto;
    margin-bottom: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#right > *{
    margin-bottom: 100px;
}

#right::-webkit-scrollbar {
    width: 0;
}

#left {
    background-color: #737373;
    padding-bottom: 100px;
    margin-bottom: 0;
    min-width: 50%;
    min-height: calc(100% - 50px*2);
}

#left:last-child{
    margin-bottom: 100px;
}


#contact-form{
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.75);
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    box-sizing: border-box;
    width: 600px;
    height: 500px;
    bottom: 50px;
    right: 0;
  
}

#Email_name{
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    color: white;
    left:10%;
    top:10%;
    width:80%;
    padding-top:2%;
    font-size: 15px;
    border-width: thin;
}
  
#message{
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    color: white;
    text-align: left;
    width: 80%;
    left:10%;
    height: 60%;
    bottom:10%;
    font-size: 15px;
    border-width: thin;
  
  
  
  }
  
#Email_input{
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    color: white;
    left:10%;
    top:20%;
    width:80%;
    padding-top:2%;
    font-size: 15px;
    border-width: thin;
  
  }
  
#send{
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    color: white;
    bottom:1%;
    left:10%;
    width:12%;
    height: 6%;
    margin-top: 10%;
    border-width: thin;
  
  
  }
  

@media (max-width: 700px) {
    #left {
        width: 100%;
    }
    #right {
        display: none;
    }
    #contact-form {
        max-width: 80%;
        
    }
    
}