.article {
    border: 1px solid black;
    margin: 5px;
    position: relative;
    min-height: 180px;
}

img {
    position: absolute;
    top: 10%;
    left: 5px;
    height: 80%;    
}

h2 {
    text-align: left;
    
}

button {
    position: absolute;
    right: 5px;
    bottom: 5px;
}