/*Division where all information about the article is placed*/
.article {
    border-bottom: 2px solid black;
    margin: 5px;
    position: relative;
    min-height: 250px;
}

.article-name {
    font-size: 14pt;
    position: absolute;
    top: 10%;
    left: 225px;
}

.article-price {
    font-size: 10pt;
    position: absolute;
    top: 25%;
    left: 225px;
}

.article-description {
    font-size: 10pt;
    max-width: 25%;
    position: absolute;
    top: 45%;
    left: 225px;
}

.article-image {
    position: absolute;
    top: 10%;
    left: 5px;
    width: 200px;
    cursor: pointer;  
}

.article-image:hover {
    opacity: 0.7;
}

.modalImage-content {
    margin: auto;
    display: block;
    height: 70%;
}

.modalCaption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    padding: 10px 0;
}

.modalImage-content, .modalCaption {
    animation-name: zoom;
    animation-duration: 0.5s;
}

/*When image pop up, it is with an animation (zoom)*/
@keyframes zoom {
    from {transform: scale(0,0)}
    to {transform: scale(1)}
}

.close-modal {
    position: absolute;
    top: 50px;
    right: 20px;
    cursor: pointer;
    font-size: 60px;

}

.sizeDD {
    position: absolute;
    bottom: 40%;
    right: 5%
}

.numberDD {
    position: absolute;
    bottom: 25%;
    right: 5%;
}

.addToCartBtn {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.sizeDD, .numberDD, .addToCartBtn, .checkOutBtn {
    background-color: lightgray;
    min-width: 150px;
    font-weight: bold;
}

option {
    font-weight: bold;
}

.addToCartBtn:hover:enabled {
    background-color: white;
}

.addToCartBtn:disabled {
    color: rgba(0,0,0,0.6)
}

.imageModal {
    display: none; /* pop-up is not shown until image is clicked on*/
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); 

}

/*Shopping cart takes 80% of the width. Spread cells evenly.*/
#cartTable, #smallCartTable {
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*It looks better if all of the article names are left aligned instead of centered*/
.nameCell {
    text-align: left;
}

/*It looks better if all of the prices are right aligned*/
.priceCell {
    text-align: right;
}

#summary {
    margin: 20px;
    width: calc(50vw - 40px); /*50 view width - 20px(margin) * 2 (both sides) */
    text-align: center;
}

#summaryTitle {
    font-size: 20pt;
}

.checkOutBtn, .smallCheckOutBtn {
    width: 80%;
    margin: 5px;
}

.checkOutBtn:hover, .smallCheckOutBtn:hover {
    background-color: white;
}

#totalPrice, #smallCartTotalPrice {
    font-weight: bold;
    text-align: right;
}

/*Shopping cart icon at the bottom of the screen, only displayed when narrow screen*/
#shoppingCartImg {
    width: 50px;
    position: fixed;
    bottom: 55px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    display: none;
}

#shoppingCartImg:hover {
    transform: scale(1.2,1.2);

}

#smallCart {
    height: 400px;
    background-color: #e7e5e6;
    width: 70%;
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 1;
    display: none; 
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    overflow: auto;


}

#smallCartTitle {
    font-size: 15pt;
}

#closeSmallCart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25pt;
    cursor: pointer;
}


/*RESPONSIVE DESIGN*/

/*When screen less than 1100px, remove the article description*/
@media (max-width: 1100px) {
    .article-description {
        display: none;
    }
}

/*When screen larger than 800px, make sure the small shopping cart is not displayed anymore*/
@media (min-width: 800px) {
    #smallCart {
        display: none !important;
    }
}


@media (max-width: 800px) {    
    /*The shopping cart will now be accessd by this image*/
    #shoppingCartImg {
        display: block;
    }

    /*The article description can be visible again*/
    .article-description {
        display: block;
    }
}

@media (max-width:500px) {
    .article-description{
        display: none;
    }
    .sizeDD, .numberDD, .addToCartBtn, .checkOutBtn {
        min-width: 130px;
    }
        
}


