h2{
  text-align: center;
  margin-top: 10%;
  color: white;

}

#om_meg_pic{
  width: 60%;
  height: 40%;
  position: absolute;
  right: 14%;
  top: 10%;
}



#om_meg_text{
  text-align: left;
  position: absolute;
  color:white;
  left:5%;
  right:5%;
}
